# Node
node_modules/
dist/
# Java
target/
build/
.gradle/
# IDE
.idea/
*.iml
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
# Entorno y secretos
.env
.env.*
!.env.example
*-firebase-adminsdk-*.json
serviceAccountKey.json
# Firebase
.firebase/
*-debug.log
firebase-debug.log
# SO
.DS_Store
Thumbs.db